/**
	sexy-combo @VERSION: http://code.google.com/p/sexy-combo/
	
	This is the structural base for the combo. Include a skin css file, else it won't be sexy.
*/

/* master wrapper; emulate select positioning */

.combo {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: bottom;
    position: relative;
    overflow: visible; 
    width: 20px; /* code will override */
    white-space: nowrap;
    border: 0;
    margin: 0;
    padding: 0;
        
}

/* hide original select */
.combo select {
	display: none;
}

.combo input,
.combo .icon {
	position: relative;
	float: left;
    margin: 0;
}

.combo .icon {
	cursor: pointer;
}

.combo .icon.disabled {
	cursor: default;
}

.combo input disabled {
    color: graytext;
}

/* dropdown */

#sexyComboDDC div.list-wrapper {
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#sexyComboDDC div.list-scroll {
    overflow: hidden;
	padding: 0;
    margin: 0;
}

/* "drop-up" list wrapper */
#sexyComboDDC div.list-wrapper-up {}

/*dropdown list, items*/
#sexyComboDDC ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sexyComboDDC li {
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*active (hovered) list item*/
#sexyComboDDC li.active {
}

#sexyComboDDC .visible {
    display: block;
}

#sexyComboDDC .invisible {
    display: none;
}







 
