/**
	sexy-combo @VERSION : http://code.google.com/p/sexy-combo/
	
	This is the structural base for the combo. Include a skin css file, else it won't be sexy.
*/

/* master wrapper; emulate select positioning */
.combo {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: bottom;
    position: relative;
    overflow: visible; 
    width: 20px; /* code will override */
}

/* hide original select */
.combo select {
	display: none;
}

.combo input,
.combo .icon {
	float: left;
}

/* list wrapper */
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
}

/* "drop-up" list wrapper */
.combo div.list-wrapper-up {}

/*dropdown list, items*/
.combo ul {}

.combo li {
    height: 20px;
    overflow: hidden;
}

/*active (hovered) list item*/
.combo li.active {
	background-color: highlight;
}

.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/* used when emptyText config opt is set. Applied to text input. */
.combo input.empty {
	color: graytext;
}






 
