/**
	sexy-combo @VERSION : http://code.google.com/p/sexy-combo/
	
	This is a template skin for you to customise
*/


.custom {
    height: 22px;
}

.custom input {
    margin: 0;
    height: 18px;
    padding: 1px 3px;
    border: 1px solid black;
}

.custom input.disabled {
	background-color: gray; 
}

.custom div.icon {
    width: 17px;
    height: 22px;
    border: 0;
    background: black;
}

.custom div.icon.hover {
	background-color: gray;
}

.custom div.icon.mouseDown {
	background-color: red;
}

.custom div.icon.disabled {
	background-color: gray; 
}

/* dropdown */

.custom div.list-wrapper {
    border: 1px solid black;

    /*we should set height and max-height explicitly*/
    height: 200px; 
    max-height: 200px;
}

.custom div.list-wrapper-up {
}

.custom ul {
}

.custom li {
    padding-left: 5px;
    background-color: #FFFFFF;
}

.custom li.active {
    background-color: rgb(223, 232, 246);
}
