/**
	ufd @VERSION: http://code.google.com/p/ufd/
	
	This is a template skin; a basic pure CSS for you to build from for your own needs.
	
*/


.ufd.custom {
    height: 22px;
}

.ufd.custom input {
    height: 18px;
	line-height: 18px;
    padding: 1px 3px;
    border: 1px solid black;
}

.ufd.custom input.disabled {
	background-color: gray; 
}

.ufd.custom button {
    width: 17px;
    height: 22px;
    background: black;
}

.ufd.custom button.hover {
	background-color: gray;
}

.ufd.custom button.mouseDown {
	background-color: red;
}

.ufd.custom button.disabled {
	background-color: gray; 
}

/* dropdown */

#ufd-container .custom div.list-wrapper {
    border: 1px solid black;
    max-height: 160px; /* must set this explicitly, as height is manipulated */ 
    
}
#ufd-container .custom div.list-scroll {
}

#ufd-container .custom div.list-wrapper-up {
}

#ufd-container .custom ul {
}

#ufd-container .custom li {
    padding-left: 5px;
    background-color: white;
}

#ufd-container .custom li em {
	font-weight: bold;
	font-style: normal;
	color: fuchsia;
}


#ufd-container .custom li.active {
    background-color: highlight;
}
