/**
	sexy-combo @VERSION : http://code.google.com/p/sexy-combo/
	
	This is the default skin.
*/

.sexy {
    height: 22px;
}

.sexy input {
    height: 18px;
    padding: 1px 3px;
    background: #fff url(text-bg.gif) repeat-x 0 0;
    border: 1px solid #B5B8C8;
}


.sexy input.disabled {
	background-color: graytext;
	background-image: none;
}


.sexy div.icon {
    width: 17px;
    height: 21px;
    border: 0;
    background: transparent url(icon.gif) no-repeat 0 0;
    border-bottom: 1px solid #B5B8C8;
}

.sexy div.icon.hover {
	background-position: -17px 0px;
}

.sexy div.icon.mouseDown {
	background-position: -34px 0px;
}

.sexy div.icon.disabled {
	background-position: -51px 0px !important; 
}

/* dropdown */

.sexy div.list-wrapper {

    border: 1px solid #B5B8C8;
    background-color: #FFFFFF;
    max-height: 200px; /* must set this explicitly, as height is manipulated */ 
}

.sexy div.list-scroll {
}

.sexy div.list-wrapper-up {
}

.sexy ul {
}


.sexy li {
    padding-left: 5px;
    background-color: white;
}

.sexy li.active {
	background-color: highlight;
}
