/**
	sexy-combo @VERSION : http://code.google.com/p/sexy-combo/
	
	This is the default skin.
*/

.sexy {
    white-space: nowrap;
    height: 22px;
    border: 0;
    margin: 0;
    padding: 0;
}

.sexy input {
    margin: 0;
    height: 18px;
    padding: 1px 3px;
    background: #fff url(text-bg.gif) repeat-x 0 0;
    border: 1px solid #B5B8C8;
}

.sexy div.icon {
    width: 17px;
    height: 21px;
    border: 0;
    background: transparent url(trigger.gif) no-repeat 0 0;
    cursor: pointer;
    border-bottom: 1px solid #B5B8C8;
    top: 0px;
}

.sexy div.icon:hover {
	background-position: -17px 0px;
}

.sexy div.list-wrapper {
    left: 0px;
    top: 21px;
    border: 1px solid #B5B8C8;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    bottom: auto;
}

.sexy div.list-wrapper-up {
    top: auto;
    bottom: 21px;
}

.sexy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
}


.sexy li {
    padding: 0;
    padding-left: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}

.sexy li.active {
    background-color: rgb(223, 232, 246);
}

.sexy input.empty {
}

a.to-highlight:hover {
    background-color: rgb(223, 232, 246);
}