/**
	sexy-combo @VERSION : http://code.google.com/p/sexy-combo/
	
	This is a plain skin.  Similar to sexy, but less height, 
	and no background gradient on input
*/

.plain {
    height: 20px;
}

.plain input {
    height: 16px;
    padding: 1px 3px;
    border: 1px solid #B5B8C8;
}

.plain input.disabled {
    background-color: gray !important;
}

.plain div.icon {
    width: 17px;
    height: 19px;
    border: 0;
    background: transparent url(icon.gif) no-repeat 0 0;
    border-bottom: 1px solid #B5B8C8;
}

.plain div.icon.hover {
	background-position: -17px 0px;
}

.plain div.icon.mouseDown {
	background-position: -34px 0px;
}

.plain div.icon.disabled {
	background-position: -51px 0px !important; 
}

/* dropdown */

.plain div.list-wrapper {
    border: 1px solid #B5B8C8;
    background-color: #FFF;
    max-height: 200px; /* must set this explicitly, as height is manipulated */ 
}

.plain div.list-scroll {
}

.plain div.list-wrapper-up {
}

.plain ul {
    height: 200px;
}

.plain li {
    padding-left: 5px;
    background-color: #FFF;
}

.plain li.active {
	background-color: highlight;
}

